<root>
	<register_flag>True</register_flag>
	<tasklist>
	<task name="ab3bD4201718"><sensor>temperature_humidity</sensor><status>start</status><frequency>5</frequency><port>D4</port><enrollment>helloworld</enrollment></task><task name="ab3bD0201718"><sensor>temperature_humidity</sensor><status>start</status><frequency>5</frequency><port>D0</port><enrollment>helloworld</enrollment></task></tasklist>
</root>